.image {
  background-image: url("../../assets/reka.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
}
.nav-bar {
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 9vh;
  background: rgba(240, 21, 87, 1);
  gap: 0px;
  display: inline-flex;
}
.logo {
  background-image: url("../../assets/המשחקיה.png");
  width: 240px;
  height: 90px;
  gap: 0px;
  position: absolute;
  top: 5vh;
  left: 82vw;
}
.login-comp {
  margin-left: 20vw;
  margin-top: 28vh;
}
.side-bar-comp {
  margin-left: 82vw;
  margin-top: 15vh;
  position: fixed;
}
.display-login-name {
  direction: rtl;
  display: inline-flex;
  gap: 15px;
  margin-left: 2vw;
  margin-top: 20px;
}
.display-3-icon {
  display: inline-flex;
  direction: rtl;
  margin-top: 20px;
  margin-left: 5vw;
  gap: 20px;
}
.user-icon {
  background-image: url("../../assets/user.svg");
  width: 20px;
  height: 21px;
}
.login-user-name {
  font-size: 15px;
  font-weight: 400;
  line-height: 20.43px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  border-right: 1px;
}
.setting-icon {
  /* background-image: url("../../assets/setting.svg"); */
  width: 22px;
  height: 27px;
}
.reminder-icon {
  height: 21px;
  margin-top: -30px;
  color: white;
}
.letter-icon {
  background-image: url("../../assets/letters.svg");
  width: 29px;
  height: 23px;
}
.pas-mafrid {
  background-image: url("../../assets/mafrid.svg");
  width: 2px;
  height: 19px;
}
.changePassword {
  width: 18px;
  height: 21px;
  margin-top: -10px;
}
.enterAsAdmin {
  width: 18px;
  height: 21px;
  margin-top: -8.5px;
  margin-right: -12px;
}
.badge {
  top: 0;
  right: 0;
}
