.games {
  position: absolute;
}
.title {
  display: inline-flex;
  direction: rtl;
  margin-left: 7vw;
}
.game-logo {
  background-image: url("../../assets/משחקים2.svg");
  width: 65px;
  height: 65px;
  margin-top: 10px;
}
.title-name {
  direction: rtl;
  font-size: 55px;
  font-weight: 900;
  line-height: 82.5px;
  color: rgba(6, 120, 252, 1);
  margin-right: 20px;
  margin-left: 45vw;
  text-align: center;
}
.table-title {
  width: 77vw;
  height: 60.09px;
  margin-top: 2vh;
  margin-left: 3vw;
  border-radius: 28px 28px 0px 0px;
  opacity: 0px;
  background-color: rgba(239, 239, 239, 1);
  display: inline-flex;
  direction: rtl;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: rgba(6, 120, 252, 1);
  margin-left: 6vw;
  margin-right: 50px;
}
.table {
  width: 77vw;
  height: 55vh;
  margin-top: 5px;
  margin-left: 3vw;
  gap: 0px;
  border-radius: 0px 0px 28px 28px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: rgba(255, 255, 255, 1);
  overflow: scroll;
  overflow-x: hidden;
}
.section {
  height: 100vh;
  margin-left: 2px;
}
.game-column {
  display: inline-flex;
  gap: 1vw;
}
.game-names {
  font-size: 17px;
  font-weight: 600;
  line-height: 25.5px;
  text-align: right;
  color: rgba(0, 0, 0, 1);
}
.game-details {
  width: 14vw;
}
.game-names-second {
  display: inline-flex;
  font-size: 17px;
  gap: 15px;
}
.child-logo {
  background-image: url("../../assets/child.svg");
  width: 20px;
  height: 20px;
  gap: 9px;
  opacity: 0px;
  color: rgba(122, 122, 122, 1);
}
.type {
  display: inline-flex;
  gap: 5px;
  font-size: 13px;
}
.age {
  display: inline-flex;
  gap: 5px;
  font-size: 13px;
}
.tchum {
  color: rgba(122, 122, 122, 1);
}
.pas {
  width: 1px;
  height: 10px;
  color: rgba(217, 217, 217, 1);
}
.place {
  width: 12vw;
  display: inline-flex;
  gap: 10px;
  font-size: 12px;
  align-items: center;
}
.closet-logo {
  background-image: url("../../assets/closet.svg");
  width: 20px;
  height: 19px;
}
.status {
  width: 12vw;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
}
.CurrentStateOfGame.green {
  width: 10.83px;
  height: 10.83px;
  margin: 6px;
  border-radius: 20px;
  background: rgba(59, 156, 63, 1);
}
.CurrentStateOfGame.red {
  width: 10.83px;
  height: 10.83px;
  margin: 6px;
  background: rgba(255, 0, 0, 1);
  border-radius: 20px;
}
.game-mushal {
  width: 12vw;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
}
.mushal-logo {
  background-image: url("../../assets/mushal.svg");
  width: 20px;
  height: 20px;
}
.Complementar-Available {
  width: 9vw;
  align-items: center;
}
.v-logo {
  background-image: url("../../assets/V.svg");
  width: 20px;
  height: 15px;
}
.Available {
  font-size: 12px;
  display: inline-flex;
  gap: 10px;
}
.Complementar {
  font-size: 12px;
  display: inline-flex;
  gap: 10px;
}
.update-delete-icons {
  display: inline-flex;
}
.update-icon {
  background-image: url("../../assets/pen.svg");
  width: 19px;
  height: 19px;
}
.delete-icon {
  background-image: url("../../assets/garbage.svg");
  width: 13px;
  height: 17px;
}
.game-parts-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: rgba(122, 122, 122, 1);
}
.game-parts {
  display: inline-flex;
  width: 30vw;
  border-top: 3px #e6e6e6 dotted;
  border-radius: 180;
}
.parts-table {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}
.parts {
  display: inline-flex;
  font-size: 12px;
  gap: 10px;
}
.sum {
  margin-top: 20px;
  color: #676767;
  font-size: 12px;
  display: inline-flex;
  margin-right: 6vw;
}
.sum-number {
  margin-right: 10px;
  font-weight: 600;
  color: black;
}
.AccordionDetails {
  display: inline-flex;
}
.acordi-comment {
  margin-right: 10vw;
  margin-top: 20px;
  font-size: 15px;
}
.search-buttons {
  display: inline-flex;
  gap: 10px;
  direction: rtl;
  margin-left: 10vw;
}

