.takes-and-title{
align-items: center;
align-content: center;
text-align: center;
margin-top: -65px;
}
.takes {
  background-color: white;
  width: 55%; /* Adjust width as needed */
  height: 570px;

  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-right: 100px;
  margin-left: 500px;
  direction: rtl;
  align-items: center;
  align-content: center;
  text-align: center;
}

.ret-title {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #000;
  text-align: center;
  height: 0px;
  padding: 30px;
}
.titleReturns {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  align-items: center;
  align-content: center;
  
}
.warning-logo{
    margin-top: 13px;
}
.title-icon-caption{
    display: inline-flex;
    direction: rtl;
    margin-left: 480px;
    margin-bottom: 7px;
    gap: 15px;
}
.table-title-AT {
  display: flex;
  background-color: #f2f2f2;
  padding: 10px;
  font-weight: bold;
  align-items: center;
  align-content: center;
  text-align: center;
}

.h-3-ret {
  flex: 1;
  text-align: center;
  font-weight: bold;

}

.retuen-after-time-table {
  height: 500px; 
  overflow-y: auto; 
  direction: rtl; 
}

.one-item-return {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.search-container {
  position: relative;
}

.search-button {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  border-radius: 28px;
  width: 120px;
  height: 18px
}

.clear-selection {
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  margin-left: 5px;
}

.user-menu {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  width: 100%;
  width: 10vw;
  max-height: 570px; 
  overflow-y: auto;
}

.user-menu div {
  padding: 10px;
  cursor: pointer;
}

.user-menu div:hover {
  background-color: #f0f0f0;
}


.return-user-name,
.return-game-name,
.duration-of-delay {
  flex: 1;
  text-align: center;
}

.one-item-return:hover {
  background-color: #f9f9f9; 
}
.arrow {
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.3s; 
}

.arrow.down {
  border: solid black;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.arrow.up {
  border: solid black;
  border-width: 2px 2px 0 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}
.tat-pdf-icon {
  margin-left: 10px;
}