
.img-back {
  background-image: url("../../assets/reka.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 9vh;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.nav-bar-AddTake {
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 9vh;
  background: rgba(240, 21, 87, 1);
  gap: 0px;
  opacity: 0px;
  direction: rtl;
  display: inline-flex;
  align-items: center;
}
.add-title {
  margin-right: 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  border-left: 1px rgba(217, 217, 217, 1) solid;
  width: 10vw;
}
.user-icon-add {
  background-image: url("../../assets/person.svg");
  width: 18px;
  height: 20px;
  margin-right: 1.5vw;
}
.user-name-add {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: right;
  margin-right: 1vw;
}
.close-add {
  margin-right: 75vw;
  font-size: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}
.add-form {
  background-color: white;
  width: 100vw;
  height: 80vh;
  position: absolute;
  direction: rtl;
  align-items: center;
}
.add-form-title {
  display: inline-flex;
  font-size: 17px;
  font-weight: 700;
  line-height: 23.15px;
  color: rgba(6, 120, 252, 1);
  margin-top: 3vh;
  margin-right: 5vw;
  width: 90vw;
  height: 5vh;
  border-bottom: 2px rgba(6, 120, 252, 1) solid;
}
.plus-icon-take {
  background-image: url("../../assets/plus.svg");
  width: 14px;
  height: 15px;
  size: 15px;
  margin-top: 5px;
  margin-right: 25vw;
}
.game-name-row {
    margin-right: 3vw;
    width: 20vw;
}
.status-row {
  width: 10vw;
}
.ages-row {
  width: 10vw;
}
.tchum-row {
  width: 10vw;
}
.place-row {
  width: 10vw;
}
.select-game-take{
        width: 20vw;
        height: 5vh;
        direction: rtl;
        /* margin-left: 2vw; */
        /* margin-top: 3vh; */
}
.new-hashala{
    display: inline-flex;
    font-size: 15px;
    margin-top: 3vh;
    margin-right: 5vw;
    text-align: center; 
    height: 5vh;
}
.garb-icon-take{
        background-image: url("../../assets/garbage.svg");
        width: 13px;
        height: 17px;
        position: relative;
        margin-right: 8vw;
}
.Complementar-Available-take {
    width: 10vw;
    margin-right: 5vw;
  }
  .v-logo-take {
    background-image: url("../../assets/V-take.svg");
    width: 20px;
    height: 15px;
  }
  .Available-take {
    font-size: 12px;
    display: inline-flex;
    gap: 10px;
  }
  .Complementar-take {
    font-size: 12px;
    display: inline-flex;
    gap: 10px;
  }
  .parts-game-take{
    margin-top: 3vh;
  }
  .parts-table-take {
    display: grid;
    grid-template-columns: 100px  ;
  }
  .parts-take {
    display: inline-flex;
    font-size: 12px;
    gap: 10px;
  }
  .game-parts-name-take {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: rgba(122, 122, 122, 1);
  }
  .Approval-take-btn {
    width: 5vw;
    height: 4vh;
    border-radius: 33px;
    background-color: rgba(6, 120, 252, 1);
    color: rgba(255, 255, 255, 1);
    margin-top: 1vh;
    font-weight: 600;
    border: 1px rgba(6, 120, 252, 1) solid;
    margin-right: 90vw;
  }