.login-card {
  width: 70vw;
  height: 30vh;
  background-color: rgba(250, 252, 255, 0.9);
  border-radius: 20px;
}
.welcome{
  font-size: 55px;
  font-weight: 800;
  color: rgba(6, 120, 252, 1);
  direction: rtl;
margin-right: 10vw;}

