.add-game-icon {
  margin-top: 13px;
  background-image: url("../../assets/משחקים2.svg");
  width: 50px;
  height: 50px;
  size: 50px;
}
.add-game-title-name {
  font-size: 55px;
  font-weight: 900;
  line-height: 82.5px;
  text-align: right;
  color: rgba(6, 120, 252, 1);
}
.add-game-title,
.new-game-title {
  display: inline-flex;
  gap: 10px;
}
.vector-icon {
  background-image: url("../../assets/vector.svg");
  width: 18px;
  height: 16px;
  margin-top: 8px;
}
.new-game-title-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: right;
  color: rgba(0, 0, 0, 1);
}
.new-game {
  position: absolute;
  left: 41px;
  direction: rtl;
}
.game-name {
  border: 1px rgba(35, 31, 32, 0.4) solid;
  border-radius: 28px;
  width: 40vw;
  height: 4vh;
}
.select,
.select-type,
.select-range,
.select-place-in-closet,
.game-status,
.closet-location {
  border: 1px rgba(35, 31, 32, 0.4) solid;
  border-radius: 28px;
  width: 15vw;
  height: 4vh;
}
.select-place-in-closet {
  width: 5vw;
}
.select-range {
  margin-right: 1vw;
}
.select-type {
  margin-right: 3.2vw;
}

.closet-location {
  width: 5vw;
  height: 3vh;
}
.line1 {
  margin-top: 40px;
  display: inline-flex;
}
.line2 {
  margin-top: 20px;
  display: inline-flex;
}
.line3 {
  margin-top: 20px;
  display: inline-flex;
}
.line4 {
  margin-top: 50px;
}
.comment {
  border: 1px rgba(35, 31, 32, 0.4) solid;
  border-radius: 28px;
  width: 50vw;
  height: 5vh;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.15px;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}
.status-of-game {
  margin-right: 5vw;
}
.code-of-closet {
  margin-right: 6vw;
}
.is-availible {
  margin-right: 3vw;
}
.place-in-closet {
  margin-right: 4.8vw;
}
.Complementary-Game {
  margin-right: 3vw;
}
.Complementary-Game,
.place-of-closet,
.place-in-closet,
.type-of-game,
.code-of-closet,
.range-of-age,
.status-of-game,
.name-of-game,
.is-availible {
  font-size: 13px;
  font-weight: 400;
  line-height: 23.15px;
  text-align: right;
  color: (0, 0, 0, 1);
}
.plus-icon {
  background-image: url("../../assets/plus.svg");
  width: 14px;
  height: 15px;
  size: 15px;
  margin-top: 5px;
}
.part-table-title {
  display: inline-flex;
  gap: 10vw;
  font-size: 17px;
  font-weight: 500;
  line-height: 23.15px;
  text-align: right;
  color: rgba(6, 120, 252, 1);
  margin-top: 7vh;
  margin-right: 6vw;
}
.garb-icon {
  background-image: url("../../assets/gray-garbage.svg");
  width: 13px;
  height: 17px;
  position: relative;
  align-items: start;
  right: 6.8vw;
}
.add-parts {
  display: inline-flex;
  margin-top: 4vh;
  margin-right: 4vw;
}
.type-of-the-part {
  border: 1px rgba(35, 31, 32, 0.4) solid;
  border-radius: 28px;
  width: 12vw;
  height: 4vh;
}
.amount-of-part {
  border: 1px rgba(35, 31, 32, 0.4) solid;
  border-radius: 28px;
  width: 7vw;
  height: 4vh;
  margin-right: 3vw;
}
.section {
  height: 100vh;
  margin-left: 2px;
}
.scrollBar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: scroll;
  overflow-x: hidden;
  height: 64vh;
}
.scrollBar::-webkit-scrollbar {
  display: none;
}
.section2 {
  height: 100vh;
  margin-left: 2px;
}
.scrollBar2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: scroll;
  overflow-x: hidden;
  height: 20vh;
}
.scrollBar2::-webkit-scrollbar {
  display: none;
}

